*.bbl
*.aux
*.log
*.out
*.synctex.gz
*.blg
*.dvi
*.toc
.DS_Store
*~
bylaws.pdf
membership.pdf
publications.pdf
key_science_topics_proposals.pdf
bylaws_v1.5_DRAFT.pdf
bylaws_v1.5_DRAFT.tex
bylaws_v1.6.pdf
bylaws_v1.6_draft.pdf
bylaws_v1.5.pdf
bylaws_v1.6_prior_to_1p5_approval.pdf
bylaws_v1.6_prior_to_1p5_approval.tex
bylaws_v1.78910.pdf
